.Container {
  margin-left: auto;
  margin-right: auto;
  background: #e5e5e5;
}
@media screen and (min-width: 320px) {
  .Container {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .Container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .Container {
    max-width: 1280px;
  }
}
