@import '../../scss/vars';
@import '../../scss/breakpoints';

.backdrop {
  position: fixed;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: $primaryWhiteColor;

  @media screen and (max-width: $mobile-max) {
    top: 61px;
    z-index: 3;
  }

  @media screen and (min-width: $tablet) {
    top: 0;
    height: 100vh;
    background-color: $modalBg;
  }

  .content {
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 100%;
    background-color: $main-background;
    overflow-y: scroll;

    // Hides Modal scrollbar
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox
    &::-webkit-scrollbar {
      display: none; // Chrome, Safari,Opera
    }

    @media screen and (max-width: $mobile-max) {
      margin: 0 auto;
      max-width: 320px;
    }

    @media screen and (min-width: $tablet) {
      margin-left: auto;
      margin-right: auto;
      width: 670px;
    }

    @media screen and (min-width: $desktop) {
      width: 1170px;
      box-shadow: $primaryShadow;
      transition: all 250ms linear;
      transform: scale(1);
    }

    .CloseModalBtn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 9px;
      width: 44px;
      height: 44px;
      cursor: pointer;
    }
  }
}
