@import '../../scss/breakpoints';

.Aside {
  @media screen and (max-width: $mobile-max) {
    border-bottom: 1px solid rgba(24, 28, 39, 0.1);
  }

  @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
    width: 216px;
  }

  @media screen and (min-width: $tablet) {
    min-height: calc(100vh - 81px);
    border-right: 1px solid rgba(24, 28, 39, 0.1);
  }

  @media screen and (min-width: $desktop) {
    width: 200px;
  }
}
