@import '../../scss/vars';
@import '../../scss/breakpoints';
@import '../../scss/base';

.registration {
  color: $main-background;
}

.title {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: $text-dark;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  font-weight: 500;
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  background-color: $form-reg-background;
  box-shadow: $main-shadow;
  border-radius: 5px;
}

.labelForm {
  font-family: $main-font;
  position: relative;
  display: block;
  margin-bottom: 30px;
  font-weight: 600;
  color: $text-light;
}

.nameInput {
  font-family: $main-font;
  position: absolute;
  left: 5px;
  transform: translateY(9px);
  transition: transform 250ms linear;
  font-weight: normal;
}

.labelForm:focus-within > .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.inputForm {
  padding: 10px;
  width: 100%;
  outline: none;
  border-style: none;
  border-bottom: 1px solid $text-dark;
  background-color: $form-reg-background;
}

.inputForm:invalid {
  margin-bottom: 5px;
  color: $form-input-error;
  border-bottom: 1px solid $form-input-border;
}

.inputForm:focus {
  border-color: $main-orange;
  box-shadow: 0px 3px 4px $main-orange;
}

.inputForm:not(:placeholder-shown) + .nameInput {
  transform: translateY(-8px);
  font-size: 12px;
}
.error {
  font-family: $main-font;
  padding-left: 8px;
  font-weight: 400;
  font-size: 12px;
}

.login {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
}

.auth {
  padding-left: 5px;
  text-decoration: underline;
  color: $text-light;
}

.auth:visited {
  color: $text-light;
}

.btnReg {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 44px;
  margin: 0 auto 20px;
  cursor: pointer;
  width: 170px;
  height: 44px;
  vertical-align: middle;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  transition: all 0.25s linear;
  color: $text-white;
  background-color: rgba(255, 107, 8, 0.3);
  border: none;
  border-radius: 25px;
}

.btnReg:enabled {
  background-color: $main-orange;
  box-shadow: 0px 3px 4px rgba(255, 107, 8, 0.3);
  transition: all 300ms ease;
}
.btnReg:enabled:hover {
  color: $main-orange;
  font-weight: 800;
  background-color: $text-white;
  box-shadow: 0px 4px 10px 4px rgba(255, 107, 8, 0.3);
}

.question {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.04em;
  color: $text-light;
}

@media screen and (min-width: $mobile) {
  .general {
    display: none;
  }

  .title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
    color: $text-dark;
    width: 174px;
    height: 32px;
    font-size: 26px;
    margin-bottom: 53px;
  }

  .form {
    padding: 47px 20px;
  }
  .nameInput {
    font-size: 16px;
  }

  .inputForm {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .general {
    display: block;
    position: fixed;
    border-radius: 50%;
    z-index: -1;
  }

  .ellipse1 {
    background-color: $main-orange;
    width: 78px;
    height: 78px;
    top: calc(113px - 80px);
    left: 621px;
  }

  .ellipse2 {
    background-color: $main-orange;
    width: 26px;
    height: 26px;
    top: calc(139px - 80px);
    left: 800px;
  }

  .ellipse3 {
    background-color: $text-white;
    width: 431px;
    height: 439px;
    top: calc(209px - 80px);
    left: 669px;
  }
  .ellipse4 {
    background-color: $main-orange;
    width: 387px;
    height: 387px;
    top: calc(243px - 80px);
    left: 669px;
  }

  .ellipse5 {
    background-color: $text-white;
    width: 314px;
    height: 320px;
    top: calc(459px - 80px);
    left: 496px;
    z-index: -2;
  }

  .ellipse6 {
    background-color: $main-orange;
    width: 282px;
    height: 282px;
    top: calc(463px - 80px);
    left: 514px;
  }

  .ellipse7 {
    background-color: $main-orange;
    width: 252px;
    height: 252px;
    top: calc(526px - 80px);
    left: -73px;
  }

  .ellipse8 {
    background-color: $text-white;
    width: 298px;
    height: 298px;
    top: calc(517px - 80px);
    left: -111px;
    z-index: -2;
  }

  .ellipse9 {
    background-color: $text-white;
    width: 118px;
    height: 118px;
    top: calc(377px - 80px);
    left: -145px;
  }

  .ellipse10 {
    background-color: $text-white;
    width: 48px;
    height: 48px;
    top: calc(250px - 80px);
    left: -26px;
  }

  .title {
    width: 241px;
    font-size: 36px;
    margin-bottom: 53px;
  }

  .form {
    margin-top: 114px;
    width: 570px;
    padding: 60px 70px;
  }

  .nameInput {
    font-size: 18px;
  }

  .inputForm {
    font-size: 18px;
  }
}

@media screen and (min-width: $desktop) {
  .form {
    margin-top: 56px;
    padding: 60px 70px;
  }
  .ellipse1 {
    top: calc(103px - 80px);
    left: 877px;
  }

  .ellipse2 {
    top: calc(129px - 80px);
    left: 1055px;
  }

  .ellipse3 {
    top: calc(199px - 80px);
    left: 925px;
  }

  .ellipse4 {
    top: calc(233px - 80px);
    left: 925px;
  }

  .ellipse5 {
    top: calc(449px - 80px);
    left: 752px;
  }

  .ellipse6 {
    top: calc(453px - 80px);
    left: 770px;
  }

  .ellipse7 {
    top: calc(516px - 80px);
    left: 183px;
  }

  .ellipse8 {
    top: calc(507px - 80px);
    left: 145px;
  }

  .ellipse9 {
    top: calc(367px - 80px);
    left: 111px;
  }

  .ellipse10 {
    top: calc(240px - 80px);
    left: 230px;
  }
}
