@import '../../scss/vars';
@import '../../scss/breakpoints';

.labelForm {
  font-family: $main-font;
  position: relative;
}

.form {
  // position: absolute;
  // top: 0;
  // right: 0;
  // height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $form-background;
  color: $text-dark;
  border: $form-input-border;
  border: none;
  // @media screen and (max-width: $mobile-max) {
  // padding: 63px 20px 0 20px;
  // width: 320px;
  // top: 60px;
  // }
  // @media screen and (min-width: $tablet) and (max-width: $tablet-max) {
  // padding: 120px 70px 0 89px;
  // width: 512px;
  // }
  // @media screen and (min-width: $desktop) {
  // padding: 120px 50px 0 50px;
  // width: 530px;
  // }
}

.title {
  font-family: $main-font;
  text-align: center;
  font-weight: 500;
  line-height: 1.21;
  font-size: 36px;
  margin-bottom: 50px;
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 30px;
    font-size: 26px;
  }
}

.input,
.empty_input {
  margin-bottom: 60px;
  width: 100%;
  height: 30px;
  border: none;

  border-bottom: $form-input-border;

  outline: 0;

  font-size: 18px;
  // &::placeholder {
  //   margin-bottom: 9px;
  //   color: $text-light;
  //   font-size: 16px;
  // }

  &:hover {
    border-color: $main-orange;
    outline: 0;
  }

  &:focus-within {
    border-color: $main-orange;
    outline: 0;
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: 40px;
    font-size: 16px;
  }
}

.input_name {
  margin-bottom: 50px;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: $form-input-border;

  &:hover {
    border-color: $main-orange;
    outline: 0;
  }
  &:focus-within {
    border-color: $main-orange;
    outline: 0;
  }

  // &::placeholder {
  //   margin-bottom: 9px;
  //   color: $text-light;
  //   font-size: 16px;
  // }
  @media screen and (max-width: $mobile-max) {
    margin-bottom: 58px;
  }
}

.empty_input {
  border-bottom: 1px solid $form-input-error;
  &::placeholder {
    color: $form-input-error;
  }
}

.nameInput {
  color: $text-light;
  font-size: 16px;
  position: absolute;
  left: 5px;
  // top: 26px;
  transform: translateY(9px);
  transition: transform 250ms linear;
  font-weight: normal;
}

.descriptionInput {
  // margin-bottom: 9px;
  color: $text-light;
  font-size: 16px;
  position: absolute;
  left: 50px;
  // transform: translateY(9px);
  transition: transform 250ms linear;
  font-weight: normal;
}

.empty_input:not(:placeholder-shown) + .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.input_name:not(:placeholder-shown) + .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.input:not(:placeholder-shown) + .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.labelForm:focus-within > .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.empty_input + .nameInput {
  transform: translateY(-18px);
  font-size: 12px;
}

.ready_btn {
  margin: 0 auto;
  // margin-top: 40px;
  margin-bottom: 20px;
  width: 148px;
  height: 44px;

  outline: none;
  border: none;

  color: $text-white;
  background-color: $main-orange;
  border-radius: 25px;
  &:hover,
  &:focus {
    color: $main-orange;
    background-color: $form-background;
    box-shadow: 0 3px 4px rgba(255, 107, 8, 0.3);
  }
}

.cancel_btn {
  color: $text-light;
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $text-dark;
    text-shadow: 0 3px 4px rgba(45, 44, 46, 0.3);
  }
}
.text {
  margin-bottom: 20px;
  color: $text-light;
}
